<%= stylesheet_link_tag 'user_profile_card.css' %>

<div class="wrapper">
  <div class="name"><%= user.name %></div>
  <div class="about"><%= user.program_name %>, <%= user.department %></div>
 
  <div class="form_box">
    <h6 class="test-center mt-3 mb-3">Skills: </h5>
    <div class="row">
      <% user.skills.each do |skill| %>
        <div class="col-6 col-md-4 col-lg-3 mb-1">
          <span class="badge bg-primary">
            <%= skill.name %>
          </span>
        </div>
      <% end %>
    </div>
  </div>

    <div class="social-icons">
    <% if user.facebook_link? %>
      <%= link_to user.facebook_link, target: "_blank", class: "fb" do %>
        <i class="fab fa-facebook-f"></i>
      <% end %>
    <% end %>

    <% if user.twitter_link? %>
      <%= link_to user.twitter_link, target: "_blank", class: "twitter" do %>
        <i class="fab fa-twitter"></i>
      <% end %>
    <% end %>

    <% if user.instagram_link? %>
      <%= link_to user.instagram_link, target: "_blank", class: "insta" do %>
        <i class="fab fa-instagram"></i> 
      <% end %>
    <% end %>

    <% if user.github_link? %>
      <%= link_to user.github_link, target: "_blank", class: "github" do %>
        <i class="fab fa-github"></i>
      <% end %>
    <% end %>
  </div>

  <div class="links-div">
    <% if user.linkedin_link? %>
      <%= link_to user.linkedin_link, target: "_blank", class: "links", id:"linkedin" do %>
        <i class="fab fa-linkedin-in"> </i> LinkedIn
      <% end %>
    <% end %>
    <%= link_to "mailto:#{user.email}", class: "links", id:"email" do %>
      <i class="far fa-envelope"></i> Email
    <% end %>
  </div>

</div>
