<div id="<%= dom_id user %>">
  <p>
    <strong>Name:</strong>
    <%= user.name %>
  </p>

  <p>
    <strong>Linkedin:</strong>
    <%= user.linkedin %>
  </p>

  <p>
    <strong>Instagram:</strong>
    <%= user.instagram %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= user.email %>
  </p>

  <p>
    <strong>Program name:</strong>
    <%= user.program_name %>
  </p>

  <p>
    <strong>Department:</strong>
    <%= user.department %>
  </p>

  <p>
    <strong>Interest:</strong>
    <%= user.interest %>
  </p>

  <p>
    <strong>Password digest:</strong>
    <%= user.password_digest %>
  </p>

</div>
