<%= render 'pages/navbar' %>


<%= stylesheet_link_tag 'editprofile.css' %>


<div class="user-form">
<h2 class="text-center mt-2">Edit Profile</h2>
<section class="user-edit-form">
<%= render '/global/errors', obj: @user %>
<%= form_with(model: @user, data: { turbo: false }, local: true, class: "form_con") do |f| %>
  <div class="form_box">
    <%= f.label :name %>
    <%= f.text_field :name, placeholder: "Enter your full name", class: "form-control"  %>
  </div>

  <div class="form_box email_box">
    <%= f.label :email %>
    <%= f.email_field :email, placeholder: "Enter your Email", class: "form-control" %>
  </div>

  <div class="form_box">
    <%= f.label :program_name %>
    <%= f.text_field :program_name, placeholder: "Enter your program", class: "form-control" %>
  </div>

  <div class="form_box">
    <%= f.label :department %>
    <%= f.text_field :department, placeholder: "Enter your department", class: "form-control" %>
  </div>

  <div class="form_box">
    <%= f.label :password %>
    <%= f.password_field :password, placeholder: "Enter Password", class: "form-control" %>
  </div>
  
  <div class="form_box mt-2">
    <div class="form_box">
      <h3>Social links</h3>
    </div>

    <div class="form_box">
      <div class="input-group">
        <span class="input-group-text"><i class="fab fa-instagram"></i></span>
        <%= f.text_field :instagram_link, placeholder: "Enter your Instagram link", class: "form-control" %>
      </div>
    </div>
    
    <div class="form_box">
      <div class="input-group">
        <span class="input-group-text"><i class="fab fa-linkedin"></i></span>
        <%= f.text_field :linkedin_link, placeholder: "Enter your LinkedIn link", class: "form-control" %>
      </div>
    </div>
</div>
  
  <div class="text-center mt-2">
      <%= f.submit(@user.new_record? ? "Sign Up" : "Update account", class: "btn btn-primary sign_btn") %>
  </div>

<% end %>
</section>

</div>



