<%= form_with(model: post, class: "mt-5") do |form| %>
  <% if post.errors.any? %>
    <div class="alert alert-danger">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.full_messages.each do |error| %>
          <li><%= error %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
  <%= form.label :Title, class: "form-label", style: "font-weight: bold;" %>
    <%= form.text_field :title, class: "form-control" %>
  </div>

  <div class="mb-3">
  <%= form.label :Content, class: "form-label", style: "font-weight: bold;" %>
  <%= form.cktext_area :content, class: "form-control" %>
</div>

  <div class="mb-3">
    <%= form.submit "Submit", class: "btn btn-primary" %>
  </div>
<% end %>

<%= link_to "Back to posts", posts_path, class: "btn btn-secondary mb-5" %>