<%= stylesheet_link_tag 'post.css' %>

<div id="<%= dom_id post %>" class="post mt-3">
  <h1 class="title"><%= post.title %></h1>
  <div class="content">
    <%= sanitize post.content.html_safe %>
  </div>
  <div class="author-div">
    <p class="author-name"><strong>Authored By:</strong> <%= post.user.name %></p>
    <p class="date"><strong>Posted Date:</strong> <%= post.created_at.strftime("%B %d, %Y") %></p>
  </div>
</div>
