<%= render 'pages/navbar' %>
<%= stylesheet_link_tag 'posts.css' %>
<div class="container">
  <div class="text-end mb-4">
    <%= link_to "New Post", new_post_path, class: "btn btn-primary" %>
  </div>

  <div id="posts">
    <% @posts.each do |post| %>
      <div class="posts-card mb-3">
          <h3 class="posts-card-title"><%= post.title %></h3>
          <p class="posts-card-text"><%= truncate(strip_tags(post.content), length: 200, separator: ' ') %>
          </p>
          <%= link_to "Read more", post, class: "posts-card-btn" %>
      </div>
    <% end %>
  </div>
</div>
