<%= render 'pages/navbar' %>
<%= stylesheet_link_tag 'post.css' %>

<div class="container">
  <% if current_user == @post.user %>
    <div class="d-flex justify-content-around mt-3">
      <%= link_to "Edit Post", edit_post_path(@post), class: "action-btn" %>
      <%= button_to "Delete Post", @post, method: :delete, data: { confirm: "Are you sure?" }, class: "action-btn" %>
    </div>
  <% end %>

  <%= render @post %>
  <div class="mt-3">
    <%= link_to "Back to posts", posts_path, class: "btn btn-secondary mb-5" %>
  </div>

  <h2>Comments</h2>
  <%= form_with(model: [ @post, CommentPost.new ], url: post_comment_posts_path(@post), method: :post, local: true) do |form| %>
    <div class="d-flex justify-content-around mb-5">
      <div class="form-group col-lg-10">
      <%= form.text_field :content, class: "form-control" %>
      </div>
      <%= form.submit "Add Comment", class: "btn btn-primary ml-2" %>
    </div>
  <% end %>

  <% @post.comment_posts.each do |comment| %>
    <div class="card mb-3 mt-3">
      <div class="card-body d-flex justify-content-between align-items-center">
        <p class="card-text m-0"><%= comment.content %></p>
        <div class="text-muted m-0">By: <%= comment.user.name %></div>
      </div>
    </div> 
  <% end %>
</div>
